<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            Java
        </div>
        <div class="progress">
            <span class="yellow" style="width: 68%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="green" style="width: 53%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
          C/C++
        </div>
        <div class="progress">
            <span class="blue" style="width: 82%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="red" style="width: 65%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            AWS/Linux
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 46%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class="grey" style="width: 55%;"></span>
        </div>
    </div>



    <div class = "item">
        <div class = "describe">
            Networking
        </div>
        <div class="progress">
            <span class="pink" style="width: 80%;"></span>
        </div>
    </div>



    <div class = "item">
        <div class = "describe">
            Passion
        </div>
        <div class="progress">
            <span class="purple" style="width: 100%;"></span>
        </div>
    </div>




    <div class = "item">
        <div class = "describe">
            Passion
        </div>
        <div class="progress">
            <span class="test1" style="width: 100%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Passion
        </div>
        <div class="progress">
            <span class="test2" style="width: 100%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Passion
        </div>
        <div class="progress">
            <span class="test3" style="width: 100%;"></span>
        </div>
    </div>


</section>
