<!DOCTYPE html>

<!-- My Font  -->
  <style>
    .post-content p, li {
      font-family: 'Jeju Gothic', serif;
      font-weight: 500;
      font-size : 16px;
    }
    .post-content h2 {
      font-family: 'Jeju Gothic', serif;
      font-weight: 500;
    }
    .post-title {
      font-family: 'Jeju Gothic', serif;
      font-weight: 500;
      font-size : 40px;
    }
  </style>

<html>
  <head>

  {% include head.html %}

  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="10; url={{ site.baseurl }}">
  {% endif %}

  </head>

  <body>

  {% include header.html %}

  <div class="wrapper">
        {{ content }}
  </div>

</body>

<foot>

    {% include footer.html %}
    {% include foot.html %}

</foot>

</html>
